@import url('https://fonts.googleapis.com/css?family=Norican');

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 1.5em;
}

header{
    height: 80vh;
    background: linear-gradient(#f6d365, #fda085);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 60% 60% / 0 0 15% 15%;
}

h1, p{
    color: #fff;
    width: 80%;
    line-height: 1.3em;
    text-align: center;
}


h1{
    font-family: Norican;
}

p{
    font-family: sans-serif;
}
